<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zero.wolf.greenroad">

    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>



    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:persistent="true"
        android:name=".GreenRoadApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_green_road"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ShowActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:clearTaskOnLaunch="false"
            android:alwaysRetainTaskState="true">
        </activity>
        <activity
            android:name=".activity.SureGoodsActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".activity.ShootVideoActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/ActivityAboutStyle">
        </activity>
        <activity
            android:name=".activity.ActivationCodeActivity"
            android:theme="@style/MyDialogStyle">
        </activity>
        <activity android:name=".activity.AnimatorActivity">
        </activity>
        <activity
            android:name=".activity.RecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullTheme">
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.DraftActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".servicy.PostIntentService"
            android:exported="false">
        </service>

        <receiver
            android:name=".NetWorkStateReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <receiver android:name=".servicy.NotPostReceiver">
            <intent-filter>
                <action android:name="com.zero.wolf.greenroad.servicy.action.TYPE_THREAD"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.PreviewDetailActivity">
        </activity>

        <!--
            <service
            android:name=".polling.LoopService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".polling.PollingService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".polling.LongConnService"
            android:enabled="true"
            android:exported="true">
        </service>
        -->
        <activity
            android:name=".activity.AddOperatorActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".TestActivity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>